@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%; /* 16px basically it will be 1rem*/
  }
  body {
    text-rendering: optimizeLegibility;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  img {
    max-width: 100%;
  }
}

@layer components {
  /* button styling */
  .btn {
    @apply py-3 px-9  text-2xl rounded-full font-bold;
  }

  /* Header section */
  .header {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-size: contain;
    background-position: right -40px top -40px;
    background-repeat: no-repeat;
  }
  /* Header content */
  .header-content {
    background-image: url(/images/bg-tablet-pattern.svg);
    background-size: 200px 200px;

    background-position: right -7rem bottom 1rem;
    background-repeat: no-repeat;
  }

  /* Styling the reciews section */
  .reviews-cont {
    max-width: 100rem;
    height: 25rem;
    position: relative;
  }
  .slider {
    background-color: orange;
    position: absolute;
    top: 0;
    width: 100%;
    height: 25rem;
  }

  /* Styling the why us section */
  .why-sub-heading {
    @apply flex items-center bg-Very-Pale-Red rounded-tl-full rounded-bl-full mb-8;
  }
  /* Heading span items */
  .span-why {
    @apply py-3 px-10 bg-Bright-Red font-bold text-3xl rounded-full text-Vary-Light-Gray mr-5;
  }
  .span-txt {
    @apply text-Dark-Blue font-bold text-2xl;
  }

  .p-txt {
    @apply text-2xl text-Dark-Grayish-Blue;
  }

  /* Footer link */
  .footer-link {
    @apply font-normal text-Vary-Light-Gray text-2xl;
  }
  .footer-link:not(:last-child) {
    margin-bottom: 1rem;
  }
}
